[state]
seat = 13f5944c-7002-456b-9af1-d819e2914553
agreed_to_license = True
last_vendor = Baofeng
last_model = UV-5R Mini
last_port = /dev/cu.usbserial-130
recent_models = Baofeng:UV-5R Mini;Baofeng:5RM
window_w = 1024
window_h = 768
window_x = 37
window_y = 332
last_dir = /Users/serkan/Desktop
last_open = /Applications/CHIRP.app/Contents/MacOS/chirp/stock_configs/CA FRS and GMRS Channels.csv$/Applications/CHIRP.app/Contents/MacOS/chirp/stock_configs/CA Calling Frequencies.csv$/Users/serkan/Desktop/Baofeng_UV-5R Mini_20251023.img$/Applications/CHIRP.app/Contents/MacOS/chirp/stock_configs/US Calling Frequencies.csv$/Applications/CHIRP.app/Contents/MacOS/chirp/stock_configs/US CA Railroad Channels.csv$/Applications/CHIRP.app/Contents/MacOS/chirp/stock_configs/US Aviation Frequencies.csv
recent0 = /Applications/CHIRP.app/Contents/MacOS/chirp/stock_configs/US Aviation Frequencies.csv
recent1 = /Applications/CHIRP.app/Contents/MacOS/chirp/stock_configs/US CA Railroad Channels.csv
recent2 = /Applications/CHIRP.app/Contents/MacOS/chirp/stock_configs/US Calling Frequencies.csv
recent3 = /Users/serkan/Desktop/Baofeng_UV-5R Mini_20251023.img
recent4 = /Applications/CHIRP.app/Contents/MacOS/chirp/stock_configs/US NOAA Weather Alert.csv
recent5 = /Applications/CHIRP.app/Contents/MacOS/chirp/stock_configs/CA Calling Frequencies.csv
recent6 = /Applications/CHIRP.app/Contents/MacOS/chirp/stock_configs/CA FRS and GMRS Channels.csv

[radio_Baofeng_UV-5R_Mini]
prompt_experimental = True
prompt_pre_download = True
last_port = /dev/cu.usbserial-130
prompt_pre_upload = True

[bandplan]
north_america = True

